.box1 {
 position: absolute;
 top: 50px;
 left: 50px;
 width: 150px;
 height: 100px;
 background-color: #ff6b6b;
 border: 2px solid #333;
 z-index: 3; /* 가장 앞에 */
}

.box2 {
 position: absolute;
 top: 100px;
 left: 100px;
 width: 150px;
 height: 100px;
 background-color: #4ecdc4;
 border: 2px solid #333;
 z-index: 2; /* 가장 뒤에 */
}

.box3 {
 position: absolute;
 top: 150px;
 left: 150px;
 width: 150px;
 height: 100px;
 background-color: #45b7d1;
 border: 2px solid #333;
 z-index: 1; /* 중간에 */
}
